<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/static/styles/stylesheet.css" />

  <head>
    <title>Summary Report Generator</title>
    <style>
      body {
        margin-left: 30px; 
        margin-right: 30px; 
      }

      #assessment-text {
        font-size: 14px
      }

      #upload-section {
        font-size: 20px
      }

      button {
        font-size: 16px
      }


    </style>
  </head>
  <body>
    <h1>Generate Summary Report</h1>
    <ol>
      <li>Select file from computer from "Browse...".</li>
      <li>Select assessment type (please make sure it matches the file)</li>
      <li>Click "Upload and Calculate" to process the file.</li>
      <li>
        Once the file is ready for download, click "Download Report" to receive
        and download the processed report.
      </li>
    </ol>

    <p>
      If there is an error uploading the file or the downloaded file is blank,
      please make sure the file matches the selected assessment type and try
      again. Reselect the file and assessment type as neccessary, then click
      "upload and calculate" again. Then download the report again.
    </p>

    <p> 
      Also, if you are uploading and several files in a row, make sure to click "upload and calculate" and "download" for every new file.
    </p>

    <div class="flex-container">
      <div id="upload-section" class="flex-container">
        <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" name="fileInput" id="fileInput" />
        </form>

        <div id="dropdown-menu" disabled>
          <label for="assessment-types-selection" id="assessment-text">Assessment type:</label>
          <select
            name="assessment-types"
            id="assessment-types"
          >
            <option value="" selected>Select an option...</option>
            <option value="ELD1_CLS">ELD1 CLS</option>
            <option value="ELD1_FLS">ELD1 FLS</option>
            <option value="ELD1_LFC">ELD1 LFC</option>
            <option value="ELD2_CLS">ELD2 CLS</option>
            <option value="ELD2_FLS">ELD2 FLS</option>
            <option value="ELD2_LFC">ELD2 LFC</option>
          </select>
        </div>
      </div>

      <div class="flex-container" id="upload-and-download-button">
        <div id="upload-button-div">
          <button id="upload-button" onclick="processFile()"> Upload and Calculate </button>
        </div>

        <div>
          <br>
        </div>

        <div id "download-button-div">
          <button id="download-button" 
            onclick="downloadButtonFunction()" 
            disabled> Download Report</button>
          <p id="download-text" hidden> Download ready! </p>
        </div>
      </div>
      
    </div>

    <script src="../static/main.js"></script>
  </body>
</html>
